<!-- Wrapper -->
      <div id="wrapper">

        <!-- One -->
          <section id="three" class="wrapper style1 fade-up">
            <div class="inner">
              <h2>Contact Us</h2>
              <p>For Suppport with installation, troubleshooting, and questions please leave your name, email address, and reason for contacting us in the form below and allow at least 24 hours for our team to respond. Inquiries taken are handled in the order that they are recieved.</p>
              <div class="split style1">
                <section>
                  <form (ngSubmit)="onSubmit()" #userForm="ngForm">
                    <div class="fields form-group">
                      <div class="field half">
                        <label for="name">Name</label>
                        <input type="text" [(ngModel)]="user.name" 
          class="form-control" 
          id="name" 
          name="name" 
          placeholder="Enter your name"
          required #name="ngModel" />
                      </div>
                      <div class="field half">
                        <label for="email">Email</label>
                        <input type="text" [(ngModel)]="user.email" 
          class="form-control" 
          id="email" 
          name="email" 
          placeholder="Enter your email address"
          required #email="ngModel">
                      </div>
                      <div class="field">
                        <label for="message">Message</label>
                        <textarea name="message" id="name" rows="5" type="text" [(ngModel)]="user.message" 
          class="form-control" 
          name="message" required #message="ngModel"></textarea>
                      </div>
                    </div>
                    <ul class="actions">
                      <li><button type="submit" [disabled]="!userForm.form.valid" 
        class="btn btn-info">Send Message</button></li>
                    </ul>

                  </form>
                </section>
                <section>
                  <ul class="contact">
                    <li>
                      <h3>Address</h3>
                      <span>12345 Somewhere Road #654<br />
                      Nashville, TN 00000-0000<br />
                      USA</span>
                    </li>
                    <li>
                      <h3>Email</h3>
                      <a href="#">user@untitled.tld</a>
                    </li>
                    <li>
                      <h3>Phone</h3>
                      <span>(000) 000-0000</span>
                    </li>
                    <li>
                      <h3>Social</h3>
                      <ul class="icons">
                        <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                        <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
                        <li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
                        <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
                        <li><a href="#" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
                      </ul>
                    </li>
                  </ul>
                </section>
              </div>
            </div>
          </section>

      </div>

    <!-- Footer -->
      <footer id="footer" class="wrapper style1-alt">
        <div class="inner">
          
        </div>
      </footer>

